.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #D9E7FF;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 100px 0 120px;
}

.reservation__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0 auto 80px;
}

.reservation__form {
  margin: 0 auto;
}
