.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* Header section */

.header {
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  color: #000;
  margin: 183px 0 0;
  max-width: 729px;
  flex-wrap: wrap;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #3F96F3;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  max-width: 683px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  max-width: 646px;
  max-height: 568px;
  text-wrap: wrap;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  color: #6F6F6F;
  margin-top: auto;
  width: 100%;
}

.header__paragraph {
  align-self: flex-end;
  margin: 0;
  padding: 0;
}

/* Navigation links section */

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 30px;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

.nav__links {
  margin: 0;
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.nav__link:hover {
  color: #3F96F3;
}

/* Recipes section */

.recipes {
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0A2750;
  color: #fff;
  min-height: 720px;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 0 0 24px;
  padding-bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 215px;
  margin-top: 80px;
  list-style-type: none;
  flex-wrap: wrap;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  margin-bottom: 24px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

/* Reservation section */

.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #D9E7FF;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: center;
}

.reservation__title {
  margin: 0;
  padding: 100px 0 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 385px;
  margin: 0 auto;
  padding-bottom: 120px;
  border-style: none;
}

.form__label {
  margin: 0;
  padding: 32px 0 8px;
  text-align: left;
  font-weight: 500;
}

.form__label:first-of-type {
  padding-top: 0;
}

.form__input {
  border:1px solid #838383;
  padding: 15px 20px;
  margin: 0;
}

.form__placeholder {
  color: #838383;
}

.form__button {
  padding: 20px;
  margin: 32px 0 0;
  background-color: #1878DC;
  color: #fff;
  border-radius: 4px;
  transition: background-color .2s ease-in-out;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 12px;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  align-self: flex-start;
}

.form__checkbox:checked {
  background-color: #1878DC;
  background-image: url(../images/check.svg);
}




/* .form__checkbox {
  align-self: flex-start;
} */




/* animation: steam 2s ease-in-out infinite;

@keyframes steam {
  from{
    opacity: 100%;
  }

  to{
    opacity: 50%;
  }
} */